###############################################################################
# Library files.
###############################################################################
lib/** linguist-vendored
